.gf-label {
    margin-right: 10px;
    font-weight: bold;
}

.gf-radio-label {
    font-weight: bold;
    margin-left: -14px;
}

.asterisk {
    margin-left: -10px;
    color: rgb(162, 34, 34);
}

.radio-asterisk {
    font-weight: 100;
    color:rgb(162, 34, 34);
}

.address-line, .radio-option {
    font-weight: normal;
    margin-right: 10px;
}

.address-line {
    margin-right: 10px;
}

.gf-radio-field {
    border: 0px;
}