.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}

.App-logo {
  min-height: 10vh;
  padding-left: 5vw;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo h1 {
  margin-block-end: 0px;
}

.App-logo p {
  margin: 0px;
  font-size: calc(7px + 1vmin);
}

.creatorLink {
  text-decoration: none;
}

.App-creator {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 30px;
  margin-top: 30px;
}

.App-creator p {
  max-width: 120px;
  margin-right: 10px;
  text-align: right;
  color: white
}

.App-creator img {
  width: 60px;
  height: 60px;
}

.App-body {
  background-color: #282c34;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 100;
  }
}

.fieldInput {
  animation-name: fadeIn;
  animation-duration: 2s;
  margin-bottom: 30px;
}

.field-edit-controls {
  display: flex;
  flex-direction: row;
}

.field-edit-inputs {
  display:flex;
  flex-direction: column;
  text-align: left;
}

.text-input label {
  margin-right: 21px;
}

.text-input input {
  border: 0px;
  border-radius: 5px;
  width: 150px;
  height: 22px
}

.text-area-input textarea {
  vertical-align: top;
  margin-top: 5px;
  resize: none;
  width: 150px;
  height: 75px;
  border: 0px;
  border-radius: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.required-input label {
  margin-right: 41px;
}

.deleteButton {
  height: 30px;
  border: 0px;
  margin-top: 8px;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
}

.deleteButtonImage {
  width: 25px;
  height: 25px;
}

#addFieldsTitle {
  margin-top: 10px;
  margin-bottom: 10px;
}

#addFieldButtons {
  margin-top: 0px;
  margin-bottom: 10px;
}

.fieldButton {
  border: 0px;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
}

.fieldButtonImage {
  width: 50px;
  height: 50px;
}

#createFormButton {
  width: 150px;
  height: 40px;
  background-color: white;
  border: none;
  border-radius: 8px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #282c34;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

#createFormButton:hover {
  background-color: #282c34;
  border: 1px solid white;
  color: white;
}

.result {
  background-color: #282c34;
  min-height: 70vh;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content:space-between;
  padding-left: 15vw;
  padding-right: 15vw;
  font-size: calc(10px + 2vmin);
  color: white;
}

#resultField {
  font-size: calc(10px + 1vmin);
  text-align: left;
}

#copyButton {
  width: 150px;
  height: 40px;
  background-color: white;
  border: none;
  border-radius: 8px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #282c34;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

#copyButton:hover {
  background-color: #282c34;
  border: 1px solid white;
  color: white;
}

#style-menu {
  display: flex;
  flex-direction: row;
  vertical-align: centre;
  height: 40px;
  margin-left: 30px;
}

.style-radio {
  border: 0px;
  width: 180px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 10px;
}

.style-radio legend {
  font-size: 0px;
}

#cssColour {
  height: 20px;
  margin-top: 10px;
  margin-right:10px;
  border: none;
  border-radius: 6px;
}

#previewField {
  background-color: white;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  text-align: left;
  padding: 10px;
  min-width: 400px;
  border-radius: 8px;
}

#downloadButton {
  width: 25px;
  height: 25px;
  margin: 5px;
  vertical-align: middle;
}

.App-footer {
  background-color: #282c34;
  min-height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-footer p {
  padding: 5px;
  margin: 0px;
  margin-block-end: 0px;
}